/* COMMON */
.body__container {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;

}

/* BUTTON */
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  color: #333;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd80, #55ae2e);
}

/* INPUT TEXT 양식 */
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  font-size: 16px;
}

.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

/* Vendor Prefix (브라우저 업체별 접두사) */
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}

.input--text::-ms-input-placeholder {
  color: #cacaca;
}

.input--text::-moz-input-placeholder {
  color: #cacaca;
}

/* FLOAT CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

/* SUMMARY */
.summary {
  
}
.summary__title {
  margin-bottom: 18px;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
}
.summary__description {
  font-size: 26px;
  font-weight: 300;
  color: #767676;
  line-height: 1.5;
}

/* SECTION & INNER */
.section {
  position: relative;
}
.section .inner {
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

/* HEADER */
header {
  border-bottom: 1px solid rgba(0, 0, 0, .75);
  box-shadow: 0 0 5px rgba(0, 0, 0, .75);
  background: #fff;
}

header .inner {
  height: 78px;
}

header .menu-group {
  height: 100%;
  display: flex;
  align-items: center;
}

header .logo {
  margin-right: 10px;
}

header .logo a {
  display: block;
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
header .logo a:hover {
  background: url("../img/logo_on.svg");
}

header .main-menu {
  display: flex;
}

header .main-menu li a {
  display: block;
  padding: 10px;
  color: #3c4146;
}
header .main-menu li a:hover {
  color: #4078c0;
}
header .sign-group {
  display: flex;
  height: 100%;
  align-items: center;
}
header .btn-group {
  order: 2;
  display: flex; /* btn 여백값을 위해 display 속성을 추가하였다. */
}
header .btn-group .sign-in {
  margin-right: 4px;
}

#search-form {
  order: 1;
  margin-right: 12px;
}

#search {
  width: 160px;
  font-size: 14px;
}

/* submit 버튼 지우기 위한 선택자 추가 */
#search + [type="submit"] { 
  display: none;
}

header .sub-menu {
  display: flex;
  margin-right: 10px;
}

header .sub-menu li a {
  padding: 8px;
  display: block;
  font-size: 14px;
  color: #3c4516;
}
header .sub-menu li a:hover {
  color: #4078c0;
}

/* VISUAL */
.section--visual {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  
}
/* 배경 이미지가 밝아서 배경이미지 바로 앞에 
 어두운 배경색의 요소를 깔아 약간 어둡게 만들어주기 위한 가상요소선택자를 추가하였다. */
.section--visual::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  /*방법1) width와 height 100%을 적용하여 섹션을 완벽하게 덮을수 있도록 만들었다. */
  width: 100%;  /* 방법2) position 값을 top,left,right,bottom을 0씩 주어도 동일한 결과가 나오는지 궁금했는데 
                    적용시켜보니 width,height 100% 와 동일한 효과를 가졌다! */
  height: 100%;
  background: rgba(0, 0, 0, .3); 
}

.section--visual .inner {
  padding: 160px 0;
  display: flex;
}

.section--visual .summary {
  flex : 1;
  margin-right: 90px;
}

.section--visual .summary__title {
  color: #fff;
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25), 
               0 1px 25px rgba(0, 0, 0, .75);
}
.section--visual .summary__description {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .25), 
               0 1px 25px rgba(0, 0, 0, .75);
}

/* id 선택자는 고유하므로 기본적으로 조상요소 선택자가 필요없다.*/
#sign-form {
  width: 340px;
  margin-top: 13px;
}

#sign-form li {
  margin-bottom: 17px;
}
#sign-form li:last-child {
  margin-bottom: 0;
}

#sign-form .input--text {
  width: 100%;
  height: 40px;
}
#sign-form .caption {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(255,255,255, .6);
  line-height: 1.5;
  text-align: center;
}
#sign-form [type="submit"] {
  width: 100%;
  height: 62px;
  padding: 0 25px;
  font-size: 20px;
  justify-content: center;
}